* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.shopping-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.shopping-item__checked {
  text-decoration: line-through;
}

.additions {
padding: 20px 0;
}
.additions select{
  margin-left: 20px;
  }

.js-search-form-button {
  border-radius: 5px;
  color: purple;
}
#js-search-form label {
margin-right: 18px;

}

#js-search-button {
  border-radius: 10px;

}
/*
.search-control > input,
.search-control > button {
    background-color: #e4f0f5;
    /* color: #29627e;
    font-size: 1.2rem;

}
 */